doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/style.css', rel='stylesheet', media='screen')
    link(href='/materialize/css/materialize.min.css', rel='stylesheet', media='screen')
  body
    div(id='particles-js')
    div(id='main')
      block content

  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/materialize/js/materialize.min.js')
  script(src='/js/particles.min.js')
  script(src='/js/index.js')
